modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 8084
externalPort = 8000

[[ports]]
localPort = 8085
externalPort = 6000

[[ports]]
localPort = 8086
externalPort = 8081

[[ports]]
localPort = 8087
externalPort = 9000

[[ports]]
localPort = 8765
externalPort = 3000

[[ports]]
localPort = 21934
externalPort = 3002

[[ports]]
localPort = 21935
externalPort = 3001

[[ports]]
localPort = 21936
externalPort = 3003

[[ports]]
localPort = 21937
externalPort = 6800

[[ports]]
localPort = 21938
externalPort = 5173

[[ports]]
localPort = 21939
externalPort = 8099

[[ports]]
localPort = 21940
externalPort = 8008

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "rustc"]

[userenv]

[userenv.shared]
VECTOR_STORE_ID = "vs_69e0499e7fb081919b0157d8195caed6"
JWT_SECRET = "monafassa_jwt_secret_key_2024_conseil_concurrence"
ADMIN_PASSWORD_HASH = "$2b$10$mYFOGoZPtmM2015PGkgB7eEEBUHOnYu8TaNI3pkqZH6jVczlUS0E6"
